{% extends 'base.html' %}

{% block body %}


<div class="container">
  <!-- About ExonSurfer -->
    <div class="row gy-5">
        <div class="w-100" style="padding-top: 6%;"></div>
        <div class="col-lg">
            <h1>Imprint</h1>
            <h2>CONTENT</h2>
            <p>Institute of Medical Biochemistry, Biocenter, Medical University of Innsbruck<br>
              Innrain 80, 6020 Innsbruck, Austria, <a href="https://www.i-med.ac.at/imcbc/medclinchemfolder/medclinchem.html">Institute of Medical Biochemistry</a><br>
              Johanna M. Gostner (Content), Email: <a href="mailto:johanna.gostner@i-med.ac.at">johanna.gostner@i-med.ac.at</a>, Tel: +43 512 9003 70122<br>
              Pablo Monfort Lanzas (Developer), Email: <a href="mailto:pablo.monfort@i-med.ac.at">pablo.monfort@i-med.ac.at</a><br>
              Elena Cristina Rusu (Developer), Email: <a href="mailto:ecrisru@alumni.uv.es">ecrisru@alumni.uv.es</a></p>

            <h2>LIABILITY</h2>
            <p>The text provided on these websites has been reviewed with great care. However, we cannot guarantee the accuracy, completeness or validity of the information provided. Therefore the Institute of Bioinformatics, Medical University of Innsbruck accepts no liability for the contents provided. Links to other websites have been carefully selected. However, the Institute of Bioinformatics, Medical University of Innsbruck is not responsible for contents on any other websites.</p>
            <h2>LICENSE (MIT LICENSE)</h2>
            <p>Copyright (c) 2021 Institute of Bioinformatics, Medical University of Innsbruck</p>
            <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>
            <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
            <h2>CITE</h2>
            <p>If you use ExonSurfer Web, please cite:</p>
            <blockquote>
                Monfort-Lanzas, P., & Rusu, E. C. (2023). ExonSurfer: A Web-tool to Design Primers at Exon–Exon Junctions. In 10th Gene Quantification Event 2023 qPCR dPCR & NGS (Po-54). Freising-Weihenstephan, School of Life Sciences, Technical University of Munich, Weihenstephan, Germany.        </blockquote>
            
        </div>
    </div>
</div>

{% endblock body %}
