{% extends 'base.html' %}

{% block body %}


<div class="container">
  <!-- About ExonSurfer -->
  <div class="row gy-5">
    <div class="w-100" style="padding-top: 6%;"></div>
    <div class="col-lg">

        <div style="text-align: justify">
          <h1>Privacy policy</h1>
          <p><h2>GENERAL</h2></p>
          <p>At ExonSurfer, the privacy of our visitors is of utmost importance to us. This Privacy Policy document outlines the types of personal information that is received and collected by ExonSurfer and how it is used.</p>
          <p>
          This statement describes how the Institute of Bioinformatics (ICBI) of the Medical University of Innsbruck processes your data in connection with this website. Furthermore, the ICBI has taken the technical and organizational measures necessary for adequate data protection. The ICBI undertakes to comply with the legal data protection provisions, but is not responsible if - despite all security measures - third parties nevertheless succeed in gaining access to data and information in an unlawful manner.
          The protection of your personal data is very important to us. Therefore we process your data exclusively on the basis of the legal regulations (GDPR, TKG 2003).
         </p>
          <h2>DATA STORAGE</h2>
          <h3>Automatic Data Storage</h3>
          <p>
          The current situation is, that our webserver (computer on which this Web page is saved) automatically stores data like
          </p>
          <ul>
            <li>the URL of the website you are looking for</li>
            <li>the host name and IP address of the device from which it is accessed</li>
            <li>Date and Time</li>
          </ul>
          <p>
          in web server log files.
          </p>
          <p>
          We do not share this data with third parties. The legal basis is <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679&amp;from=EN&amp;tid=211076008" target="_blank" rel="noopener nofollow"> Article 6 Paragraph 1 of GDPR</a> (legality of the Processing) in that there is a legitimate interest in the error-free operation of this website.
          </p>
          <h3>Personal data storage</h3>
          <p>
			Personal information, such as name, E-mail address or your Institute, that you submit to us electronically in the course of submitting a form, are used by us, together with the time and the IP address only for the intended purpose, safely stored and not disclosed to third parties.
			We use your personal data only for the communication with visitors of the website and for the handling of the services offered on this website. We neither pass on this data to third parties nor use it for any other purposes of our own.
			If you send us personal information by e-mail - thus away from this website - we can not provide guarantee of secure transmission and protection of your data. We recommend that you never send confidential data by e-mail.
			The legal basis is <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679&amp;from=EN&amp;tid=211076008" target="_blank" rel="noopener nofollow"> Article 6 Paragraph 1 of GDPR</a> (legality of the Processing) by giving us consent to process the data you enter. You can revoke this consent at any time - an informal e-mail is sufficient.
          </p>
          <h2>RIGHTS ACCORDING TO THE GENERAL DATA PROTECTION REGULATION</h2>
          <p>
          According to the regulations of the GDPR you basically have the following rights:
          </p>
          <ul>
            <li>Right to information (Article 15 GDPR)</li>
            <li>Right to correction (Article 16 GDPR)</li>
            <li>Right to cancel ("Right to be forgotten") (Article 17 GDPR)</li>
            <li>Right to restriction of processing (Article 18 GDPR)</li>
            <li>Right to Notification - Obligation to Notify in Connection with the Correction or erasure of personal data or limitation of processing (Article 19 GDPR)</li>
            <li>Data transferability (Article 20 GDPR)</li>
            <li>Right of objection (Article 21 GDPR)</li>
          </ul>
          <h2> Third-party scripts </h2>
          <p>
            The provided HTML code includes multiple script tags for external libraries, including jQuery UI, Chosen, and jQuery. These scripts are used for various functionalities throughout the website.
          </p>
          <p>
            The following third-party scripts are used in this HTML code:
            <ul>
                <li>JQuery UI: <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script></li>
                <li>Chosen: <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.min.js"></script></li>
                <li>JQuery: <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script></li>
                <li>In addition, the following CSS file is used for Chosen: <a rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.min.css">chosen.min.css</a></li>
            </ul>
            All of these scripts are hosted by third-party providers such as Google and Cloudflare.

          </p>
          <h3>Contact</h3>
          <p>
          If you believe that the processing of your data violates data protection law or that your data protection claims have been violated in any other way, please contact us. This is how we can address your concerns. You also have the right to contact the responsible data protection authority, whose website and contact details can be found at <a href = "https://www.dsb.gv.at/?tid=211076008" rel = " nofollow "> https://www.dsb.gv.at/ </a>.          </p>
          <p>
          <strong>External Data Protection Officer:</strong>
          </p>
          <ul style="list-style: none">
            <li>Firma x-tention Informationstechnologie GmbH, R&ouml;merstra&szlig;e 80a, 4600 Wels, Tel: +43 7242 2155 65065, E-Mail: datenschutzbeauftragter@i-med.ac.at</li>
          </ul>
          <p>
          <strong>Internal Privacy Coordinator:</strong>
          </p>
          <ul style="list-style: none">
            <li>Mag.iur. Dr.iur. Bernhard Sebastian Innerhofer, MBL (Master of Business Law), LL.M. (Medical Law), LL.M. (Wirtschaftsstrafrecht), Medizinische Universit&auml;t Innsbruck, B&uuml;ro des Rektors, Tel.: +43 512 9003 70014, E-Mail: Datenschutzkoordinator@i-med.ac.at</li>
          </ul>
          <h2>DATA SECURITY</h2>
          <p>
          The ICBI has taken the technical and organizational measures necessary for adequate data protection.
          </p>
          <h3>TLS-encryption with https</h3>
          <p>
          We use https to transmit data securely on the Internet (privacy by technology design <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679&amp;from=DE&amp;tid=211076008" target="_blank" rel="noopener nofollow"> Article 25 (1) GDPR</a>). Through the use of TLS (Transport Layer Security), an encryption protocol for secure data transmission over the Internet, we ensure the protection of confidential data. You recognize the use of this safeguard of data transfer by the use of the scheme https (instead http)  as part of our internet address.
          </p>
          <h2>COOKIES</h2>
          <p>
			So that you can use the ExonSurfer website without limitation, so-called "Cookies" are used. Cookies are small files that allow us to recognize and analyze your use of our website. These files will be stored locally on the computer of each user and contain a randomly generated unique identification number and information about its origin and storage period. Most Cookies on this Website are automatically deleted (session Cookies). The TCIA website also uses persistent Cookies which enable us to identify your pc when you visit us again. You can manually delete these persistent Cookies in your browser at any time. Our website uses HTTP cookies to store user-specific data.
			</p>
          <p>There are two types of Cookies: First-party Cookies are created by our website and third-party Cookies are created by other websites (eg Google Analytics). Example Google Analytics Cookie data:
          </p>
          <ul>
            <li>Name: _ga</li>
            <li>Expiration time: 2 years</li>
            <li>Usage: Differentiation of website visitors</li>
            <li>Example value:   GA1.7.87648764765476.7765464789769654</li>
          </ul>
          <h3>Cookie settings and deletion of Cookies</h3>
          <p>
          If you want to know which Cookies have been saved in your browser, change Cookie settings or delete Cookies, you can find this in your browser settings:
          </p>
          <ul>
            <li><a href="https://support.apple.com/de-at/guide/safari/sfri11471/mac" target="_blank" rel="noopener nofollow">Safari</a></li>
            <li><a href="https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen" target="_blank" rel="noopener nofollow">Firefox</a></li>
            <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=de" target="_blank" rel="noopener nofollow">Chrome</a></li>
            <li><a href="https://support.microsoft.com/de-at/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" rel="noopener nofollow">Internet Explorer</a></li>
          </ul>
          <p>
          If you generally do not allow us to use Cookies, disable them via browser setting. Please be aware that some features and pages may not work as expected.
          </p>
          <h2>CHANGE OF PRIVACY POLICY</h2>
          <p>
          We reserve the right to modify the privacy policy in order to adapt it to changed legal situations, or to changes in the service and data processing. Users are therefore requested to inform themselves regularly about their content.
          </p>

          </div>
        </div>
      </div>
  </div>
</section>

{% endblock body %}
