
{% extends 'base_forms.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css%}
    <!-- Bootstrap core CSS -->
    <link href= "{% static 'index/css/forms.css' %}" rel="stylesheet">
{% endblock css %}

{% block transcript_group %}


            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Custom Transcript Selection</span>
              </div>
              <div class="field-group-content">
                <div class="container">
                        <div class="form-group">
                          <label for="selectSpecies">Select species</label>
                          <select class="form-control" id="selectSpecies" name="species">
                            <option value="homo_sapiens"><i>Homo sapiens</i></option>
                            <option value="mus_musculus"><i>Mus musculus</i></option>
                            <option value="rattus_norvegicus"><i>Rattus norvegicus</i></option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="fileInput">Upload file</label>
                          <input type="file" class="form-control-file" id="fileInput" name="file">
                        </div>
                        <div class="form-group">
                          <label for="fastaHeader">Indicating exon-exon junctions</label>
                          <p class="form-text text-muted">Exon-Exon junctions must be indicated in the fasta header using the format: 
                            <br>
                            >SEQUENCE_NAME POS_1 POS_2 POS_3 
                          </p>
                        </div>
                        <div class="form-group">
                          <label>Download sample files</label>
                          <p class="form-text text-muted">Click to download sample files in <a href="{% url 'download_fasta' %}" download>fasta</a> or <a href="{% url 'download_genebank' %}" download>genbank</a> format to check the required header format.</p>
                        </div>
                </div>
              </div>
            </div>
  
 
{% endblock transcript_group %}

{% block js %}
<script src="{% static 'index/js/form.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

// Loadding button

  var submitButton = document.getElementById('submit-button');
  var loadingButton = document.getElementById('loading-button');

  function showLoading() {
    submitButton.disabled = true;
    submitButton.hidden = true;
    loadingButton.hidden = false;
  }

  document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault(); // prevent the form from submitting
    showLoading(); // call the function to show the loading button
    // do whatever processing you need to do here
    // when you're done, you can either submit the form or redirect the user to another page
    // depending on your requirements
    this.submit(); // submit the form
  });

  $(".alert").alert('close')
</script>
{% endblock js %}
