
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}


{% block css%}
    <!-- Bootstrap core CSS -->
    <link href= "{% static 'index/css/forms.css' %}" rel="stylesheet">
{% endblock css %}

{% block body %}

    <div class="container">
      <div class="row" style="padding-top: 4%;">
        <div class="col-lg-8 mx-auto">
          <h2> <b>{{title}}</b> </h2>
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <div class="form-group">
                <label for="species">Select Species</label>

                <select name="species" id="selectSpecies">
                  <option name="species" value="homo_sapiens">Homo sapiens</option>
                  <option name="species" value="mus_musculus">Mus musculus</option>
                  <option name="species" value="rattus_norvegicus">Rattus norvegicus</option>
                </select>
              
              </div>
              <div id="speciesInfo">
                <div class="form-group" id="homo_sapiens" style="display: block;">
                  <label for="symbol">Select Human Gene Symbol</label>
                  <select class="chosen" style="width:350px;" name="human_symbol" > 
                  {% for value,key in form.human_symbol.field.choices %}
                      <option name="human_symbol" value="{{value}}">{{key}}</option>
                  {%endfor%}
                </select>
                </div>

                <div class="form-group" id="rattus_norvegicus" style="display: none;">
                  <label for="symbol">Select Rat Gene Name</label>
                  <select class="chosen" style="width:350px;" name="rat_symbol" > 
                  {% for value,key in form.rat_symbol.field.choices %}
                      <option name="rat_symbol" value="{{value}}">{{key}}</option>
                  {%endfor%}
                </select>
                </div>

                <div class="form-group" id="mus_musculus" style="display: none;">
                  <label for="symbol">Select Mouse Gene Symbol</label>
                  <select class="chosen" style="width:350px;" name="mouse_symbol" > 
                  {% for value,key in form.mouse_symbol.field.choices %}
                      <option name="mouse_symbol" value="{{value}}">{{key}}</option>
                  {%endfor%}
                </select>
                </div>
              </div>
            </div>
          <button type="submit" class="btn btn-primary btn-block">Submit Analysis</button>
          </form>
          
          

        </div>
      </div>
    </div>
 
{% endblock body %}

{% block js %}
<script src="{% static 'index/js/form.js'%}"></script>

<script type="text/javascript">
  const selectSpecies = document.querySelector("#selectSpecies");
  const speciesInfo = document.querySelector("#speciesInfo");
  const speciesDivs = speciesInfo.children;

  selectSpecies.addEventListener("change", function() {
    const selectedValue = selectSpecies.value;

    for (let i = 0; i < speciesDivs.length; i++) {
      const speciesDiv = speciesDivs[i];
      if (speciesDiv.id === selectedValue) {
        speciesDiv.style.display = "block";
      } else {
        speciesDiv.style.display = "none";
      }
    }
  });

</script>
{% endblock js %}