
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static%}


{% block css%}
    <!-- Bootstrap core CSS -->
    <link href= "{% static 'index/css/forms.css' %}" rel="stylesheet">
{% endblock css %}

{% block body %}

    <div class="container">
      <div class="row" style="padding-top: 4%;">
        <div class="col-lg-8 mx-auto">
          <h2> <b>{{title}}</b> </h2>
          {% if messages %}
          <div>
              <ul>
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{message | safe}}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
              {% endfor %}
              </ul>
          </div>  
        {% endif %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Field Summary</span>
                <span class="arrow">&#9658;</span>
              </div>
              <div class="field-group-content">
                <!-- Summary with Species and Symbol use in the query-->
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Species</th>
                      <th>Symbol</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;"><b>Summary</td></b>
                      <td style="padding: 10px;"></td>
                      <td style="padding: 10px;"><input type="text" id="species" name="symbol" value="{{species}}" readonly></td>
                      <td style="padding: 10px;"><input type="text" id="symbol" name="symbol" value="{{symbol}}" readonly></td>
                    </tr>
                  </tbody>
                </table>

                <!-- Multiselect-->
                <div id="public" >
                  <p> Select transcript to design: </p>
                  <select  style="width:350px;" id="transcript", name="transcript"> 
                    {% for value,key in form.transcript.field.choices %}
                        <option name="transcript" value="{{value}}">{{key}}</option>
                    {%endfor%}
                  </select>
                  <p>
                </div>

              </div>
            </div>
            

            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Primer Parameters</span>
                <span class="arrow">&#9658;</span>
              </div>
              <div class="field-group-content" style="display: None">
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th>Parameter</th>
                      <th>Min</th>
                      <th>Opt</th>
                      <th>Max</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;">GC content</td>
                      <td style="padding: 10px;">{{ form.primer_min_gc }}</td>
                      <td style="padding: 10px;">{{ form.primer_opt_gc  }}</td>
                      <td style="padding: 10px;">{{ form.primer_max_gc  }}</td>
                    </tr>
                    <tr>
                      <td style="padding: 10px;">Melting temperature</td>
                      <td style="padding: 10px;">{{ form.primer_min_tm }}</td>
                      <td style="padding: 10px;">{{ form.primer_opt_tm }}</td>
                      <td style="padding: 10px;">{{ form.primer_max_tm }}</td>
                    </tr>
                    <tr>
                      <td style="padding: 10px;">Length</td>
                      <td style="padding: 10px;">{{ form.primer_min_size}}</td>
                      <td style="padding: 10px;">{{ form.primer_opt_size }}</td>
                      <td style="padding: 10px;">{{ form.primer_max_size }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          
            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Amplicon Parameters</span>
                <span class="arrow">&#9658;</span>
              </div>
              <div class="field-group-content" style="display: None">
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th>Parameter</th>
                      <th>Min</th>
                      <th>Max</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;">Product size</td>
                      <td style="padding: 10px;">{{ form.primer_product_size_min }}</td>
                      <td style="padding: 10px;">{{ form.primer_product_size_max  }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          

            <button type="submit" class="btn btn-primary btn-block" style="background-color: #6f42c1;" >Submit Analysis</button>
          </form>
          
          

        </div>
      </div>
    </div>
 
{% endblock body %}

{% block js %}
<script src="{% static 'index/js/form.js'%}"></script>

{% endblock js %}