{% extends 'base.html' %}


{% block body %}

<div class="container">
  <!-- About ExonSurfer -->
  <div class="row gy-5">
    <div class="w-100" style="padding-top: 6%;"></div>
    <div class="col-lg">
      <h2>Error creating primers for gene {{symbol}}, transcript {{transcript}}</h2>
      <p align="left">We encountered an error while attempting to create primers for this gene transcript.</p>
      <p align="left">Error details: {{error_log}}</p>
      <p align="left">Please try running the primer creation process again with a different parameter to see if that resolves the issue.</p>
      <a href="{% url 'primerblast' species=species symbol=symbol %}" style="background-color: #355C8E" class="btn btn-primary btn-block">Design Primers Again</a>

    </div>
  </div>
</div>




{% endblock body %}
