
{% extends 'base_forms.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css%}
    <!-- Bootstrap core CSS -->
    <link href= "{% static 'index/css/forms.css' %}" rel="stylesheet">
{% endblock css %}

{% block transcript_group %}
            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Transcript Selection</span>

              </div>
              <div class="field-group-content">
                <!-- Summary with Species and Symbol use in the query-->
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Species</th>
                      <th>Symbol</th>
                      <th>Ensembl ID</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;"><b>Summary</td></b>
                      <td style="padding: 10px;"></td>
                      <td style="padding: 10px;">{{gene.get_species}}</td>
                      <td style="padding: 10px;">{{gene}}</td>
                      <td style="padding: 10px;"><a href="{{gene.get_ensembl_url}}" target="blank">{{gene.gene_id}}</a></td>
                    </tr>
                  </tbody>
                </table>

                <!-- Multiselect-->
                <div id="public" >
                  <br><br>
                  <span class="field-group-name">Select transcript from gene to design primers</span>
                  <br><br>
                  <div id="plotly-container"></div>
                  
                  <div class="text-center" id="plot-loading">
                    <div class="spinner-border" role="status" id="plot-loading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  
                  <br><br>
                  <table style="padding: 10px; text-align: center;">
                    <thead>
                      <tr>
                        <th style="padding: 10px;">Transcript ID</th>
                        <th style="padding: 10px;">Transcript Name</th>
                        <th></th>
                        <th style="padding: 10px;">Transcript Biotype</th>
                      </tr>
                    <tbody>
                      {% for transcript in transcripts reversed %}
                        <tr>
                          <td style="padding: 10px;">
                            <div class="form-check">
                              {% if transcripts.count == 1 %}
                              <input class="form-check-input" type="checkbox" name="transcript" value='{{transcript.transcript_id }}' id="flexCheckDefault" checked>
                              {% else %}
                              <input class="form-check-input" type="checkbox" name="transcript" value='{{transcript.transcript_id }}' id="flexCheckDefault" >
                              {% endif %}

                              <label class="form-check-label" name="transcript" value='{{transcript.transcript_id }}' for="flexCheckDefault">
                                {{ transcript.transcript_id }}
                              </label>
                            </div>
                          </td>

                          <td style="padding: 10px;"><a href="{{transcript.get_ensembl_url}}" target="blank"> {{transcript.transcript_name}}</a></td>
                          <td style="padding: 10px;">{{transcript.transcript_version}}</td>
                          <td style="padding: 10px;">{{transcript.transcript_biotype}}</td>
                        </tr>
                      {% endfor %}
                      {% if transcripts.count > 1 %}
                      <tr>
                        <td style="padding: 10px;text-align: left;">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="transcript" value='ALL' id="flexRadioDefault1" checked>
                            <label class="form-check-label" name="transcript" value='ALL' for="flexCheckDefault">
                              ALL
                            </label>
                          </div>
                        </td>
                        </tr>
                      {% endif %}
  
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
{% endblock transcript_group %} 

{% block js %}
<script src="{% static 'index/js/form.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Show loading spinner
    $('#plot-loading').show();
    
    // Make AJAX request to the plotly view
    $.get("{% url 'ExonTranscriptView_gene_species' gene=gene species=species %}", function(data) {
      // Hide loading spinner
      // Add plot to container
      $('#plotly-container').html(data);
      $('#plot-loading').hide();
      $('#plot-loading').css('display', 'none');
    });
  });

  // Checkboxes
 // Get all the transcript checkboxes
const transcriptCheckboxes = document.querySelectorAll('input[name="transcript"]');

// Get the "ALL" checkbox
const allCheckbox = document.querySelector('input[value="ALL"]');

// Add click event listener to the "ALL" checkbox
allCheckbox.addEventListener('click', () => {
  // If the "ALL" checkbox is checked, deselect all other checkboxes
  if (allCheckbox.checked) {
    transcriptCheckboxes.forEach(checkbox => {
      if (checkbox !== allCheckbox) {
        checkbox.checked = false;
      }
    });
  }
});

// Add click event listeners to the other checkboxes
transcriptCheckboxes.forEach(checkbox => {
  if (checkbox !== allCheckbox) {
    checkbox.addEventListener('click', () => {
      // If any other checkbox is checked, deselect the "ALL" checkbox
      if (checkbox.checked) {
        allCheckbox.checked = false;
      }
    });
  }
});

// Loadding button

  var submitButton = document.getElementById('submit-button');
  var loadingButton = document.getElementById('loading-button');

  function showLoading() {
    submitButton.disabled = true;
    submitButton.hidden = true;
    loadingButton.hidden = false;
  }

  document.querySelector('form').addEventListener('submit', function(event) {
    event.preventDefault(); // prevent the form from submitting
    showLoading(); // call the function to show the loading button
    // do whatever processing you need to do here
    // when you're done, you can either submit the form or redirect the user to another page
    // depending on your requirements
    this.submit(); // submit the form
  });

  $(".alert").alert('close')
</script>
{% endblock js %}
