.field-group {
  margin: 0 auto 20px auto;
  border-radius: .25rem;
  border: 1px solid black;
  transition: height 0.3s ease;
  overflow: hidden;
  width: 100%;
  max-width: 100%; /* optional, to limit the maximum width of the boxes */
}

.field-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  background-color: #e0f2fd;
}

.field-group-name {
  font-weight: bold;
}

.field-group-content {
  padding: 10px;
}

.arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.expanded .arrow {
  transform: rotate(78deg);
}

.expanded .field-group-content {
  height: auto;
}
