<!DOCTYPE html>
{% load static%}
{% load crispy_forms_tags %}

<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href='{% static "media/ES.png"%}' >

    <title>ExonSurfer</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link href= "{% static 'index/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'index/css/custom_btn_primary.css' %}" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{% static 'index/css/jumbotron.css' %}" rel="stylesheet">
    <title>ExonSurfer: A Web-tool for Exon-specific Primer Design</title>
    <link rel="stylesheet" href="{% static 'index/css/custom.css' %}">

    {% block css %}
    {% endblock css %}
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #355C8E; border-radius: 25px; margin-top: 5px">
      <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap">
        <!--<img width="40" height="40" src='{% static "media/ES.png" %}' style="position:relative;">-->
      </a>
    
      <a class="navbar-brand" href="{% url 'index' %}" data-bcup-haslogintext="no"><b>ExonSurfer</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" data-bcup-haslogintext="no">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- if session_slug botton to back to session -->
          {% if session_slug %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'runprimerblast' session_slug %}">Back to Session</a>
          </li>
          {% endif %}
        </ul>
    
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/CrisRu95/ExonSurfer/blob/main/man/ExonSurfer_Manual.pdf" target="_blank">Manual</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
          </li>
          <!-- If user is admin add the url to session_list-->
          {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'session_list' %}">Sessions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'download_all_sessions' %}">Download All</a>
          </li>
          {% endif %}
          
        </ul>
      </div>
    </nav>
    

    <main role="main">
    {% block header %}

    {% endblock header %}

    {% block body %}
      
    {% endblock body %}
    

    <hr>


    </main>

    <footer class="container">
      <p>© Monfort-Lanzas, P. & Rusu, E. C. et al, Biochemical Immunotoxicology Group, Medical University of Innsbruck  2023</p>
      <p><a href="{% url 'privacy'%}"> Privacy </a> |<a href="{%url 'imprint' %}"> Imprint</a> | <a href="{%url 'references'%}">References</a></p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'index/js/jquery-3.2.1.slim.min.js'%}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'index/js/popper.min.js'%}"></script>
    <script src="{% static 'index/js/bootstrap.min.js'%}"></script>

  <!-- Custom JavaScript for Autoselect Chosen -->
   <!-- Multiple Select Scripts-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.5/chosen.min.css">
  <script type="text/javascript">
  $(".chosen").chosen({width: "100%", max_shown_results: 150,    'placeholder_text_multiple':'Please choose gene ...',});
  </script>

    {% block js %}
    {% endblock js %}

</body></html>