{% extends 'base.html' %}        
{% load static %}
<!DOCTYPE html>

{% block css %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <link href= "{% static 'index/css/cdna.css' %}" rel="stylesheet">


{% endblock %}



{% block body %}
<div class="container" style="padding-top: 3%">

    <!-- Table with top 5 primer pair results  from top_primers context -->
    <div class="w-100" style="padding-top: 6%;"></div>
    <h2>Primer Pair Information</h2>
    <hr class="my-4">
      <div class="row">
        <div class = "col-xl">

          <table cellspacing="10" cellpadding="2" border="0">
            <tbody>
            <tr>
              <td colspan="5" bgcolor="#CCCCCC"><b>Primer Pair</b></td>
            </tr>
            <tr>
              <td align="left"><b>Species</b></td>
              <td align="left">{{species}}</td>
            </tr>
            <tr>
              <td align="left"><b>Design transcript</b></td>
              <td align="left">{{transcript}}</td>
            </tr>
            <tr>
              <td align="left"><b>Design Gene</b></td>
              <td align="left">{{symbol}}</td>
            </tr>
            <tr>
              <td align="left"><b>Design information</b></td>
              <td align="left">{{primer_pair.junction_description}}</td>
            </tr>
            <tr>
              <td align="left"><b>Junction Information</b></td>
              <td align="left">{{primer_pair.junction}}</td>
            </tr>
            <tr>
              <td align="left"><b>Pair Score</b></td>
              <td align="left">{{primer_pair.pair_score}}</td>
            </tr>
            <tr>
              <td align="left"><b>Amplicon Size</b></td>
              <td align="left">{{primer_pair.amplicon_size}}</td>
            </tr>
            <tr>
              <td align="left"><b>Amplicon TM</b></td>
              <td align="left">{{primer_pair.amplicon_tm}}</td>
            </tr>
            <tr>
              <td align="left"></td>
              <td align="center"><b>Sequence </b><font size="2">(5' <font face="Symbol">-&gt;</font> 3')</font></td>
              <td align="center"><b>Length</b></td>
              <td align="center"><b>Tm</b></td>
              <td align="center"><b>GC</b></td>
            </tr>

            <tr>
              <td align="left">Forward Primer</td>
              <td align="left"><font face="Courier">{{primer_pair.forward}}</font></td>
              <td align="center">{{ primer_pair.forward|length }}</td>
              <td align="center"> {{primer_pair.forward_tm}} </td>
              <td align="center">{{primer_pair.forward_gc}} </td>
            </tr>
            <tr>
              <td align="left">Reverse Primer</td>
              <td align="left"><font face="Courier">{{primer_pair.reverse}}</font></td>
              <td align="center">{{ primer_pair.reverse|length }}</td>
              <td align="center"> {{primer_pair.reverse_tm}} </td>
              <td align="center">{{primer_pair.reverse_gc}} </td>
            </tr>
            {% if primer_pair.other_transcripts%}
            <tr class="table-warning"></trclass>
              <td colspan="5" bgcolor="#CCCCCC">
                Warning possible inespecificities. Check <a href="#" class="alert-link">off-target here</a>. Give it a click if you like.
              </td>
            </tr>
            {%endif%}
            </tbody></table>
              
        </div>
      </div>
  </div>
  <!-- Exon view -->
  <div class="container" style="padding-top: 3%">
    <h2>cDNA view</h2>
    <hr class="my-4">
    <div class="row">
      <div class = "col-xl">
        <div id="cdna-container"></div>
                    <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
              <div style="background-color: white; width: 20px; height: 20px; margin-right: 10px;"></div>
              <p>Exon</p>
              <div style="background-color: yellow; width: 20px; height: 20px; margin-right: 10px;"></div>
              <p>Ex1H</p>
              <div style="background-color: green; width: 20px; height: 20px; margin-right: 10px;"></div>
              <p>Ex2H</p>
            </div>
        <div class="text-center" id="cdna-loading">

          <div class="spinner-border" role="status" id="cdna-loading">
            <span class="sr-only">Loading...</span>
          </div>
        </div>        
      </div>
    </div>
  </div>

  <!-- Exon view -->
  <div class="container" style="padding-top: 3%">
    <h2>Exon view</h2>
    <hr class="my-4">
    <div class="row">
      <div class = "col-xl">
        <div id="plotly-container"></div>
        <div class="text-center" id="plot-loading">
          <div class="spinner-border" role="status" id="plot-loading">
            <span class="sr-only">Loading...</span>
          </div>
        </div>        
      </div>
    </div>
  </div>
  
  {% endblock body %}

{% block js%}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Show loading spinner
    $('#plot-loading').show();
    $('#cdna-loading').show();

    // Make AJAX request to the plotly view
    $.get('{% url "plotly" %}', function(data) {
      // Hide loading spinner
      // Add plot to container
      $('#plotly-container').html(data);
      $('#plot-loading').hide();
      $('#plot-loading').css('display', 'none');
    });

    // Make AJAX request to the plotly view
    $.get('{% url "cdna_view" session_slug=identifier pair=pair%}', function(data) {
      // Hide loading spinner
      // Add plot to container
      $('#cdna-container').html(data);
      $('#cdna-loading').hide();
      $('#cdna-loading').css('display', 'none');
    });
  });
</script>
{% endblock js%}