
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block css%}
    <!-- Bootstrap core CSS -->
    <link href= "{% static 'index/css/forms.css' %}" rel="stylesheet">
{% endblock css %}

{% block body %}

    <div class="container">
      <div class="row" style="padding-top: 4%;">
        <div class="col-lg-8 mx-auto">
          <h2> <b>{{title}}</b> </h2>
          {% if messages %}
          <div>
              <ul>
              {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <strong>{{message | safe}}</strong>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
              {% endfor %}
              </ul>
          </div>  
        {% endif %}
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Field Summary</span>
                <span class="arrow">&#9658;</span>
              </div>
              <div class="field-group-content">
                <!-- Summary with Species and Symbol use in the query-->
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Species</th>
                      <th>Symbol</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;"><b>Summary</td></b>
                      <td style="padding: 10px;"></td>
                      <td style="padding: 10px;"><input type="text" id="species" name="symbol" value="{{species}}" readonly></td>
                      <td style="padding: 10px;"><input type="text" id="symbol" name="symbol" value="{{symbol}}" readonly></td>
                    </tr>
                  </tbody>
                </table>

                <!-- Multiselect-->
                <div id="public" >
                  <br><br>
                  <span class="field-group-name">Select Transcript from Gene to Design Primers</span>
                  <br><br>
                  <div id="plotly-container"></div>
                  
                  <div class="text-center" id="plot-loading">
                    <div class="spinner-border" role="status" id="plot-loading">
                      <span class="sr-only">Loading...</span>
                    </div>
                  </div>
                  
                  <br><br>
                  <table style="padding: 10px; text-align: center;">
                    <thead>
                      <tr>
                        <th style="padding: 10px;">Transcript ID</th>
                        <th style="padding: 10px;">Transcript Name</th>
                        <th></th>
                        <th style="padding: 10px;">Transcript Biotype</th>
                        <th style="padding: 10px;">RefSeq ID</th>
                      </tr>
                    <tbody>
                      {% for transcript in transcripts %}
                        <tr>
                          <td style="padding: 10px;">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" name="transcript" value='{{transcript.transcript_id }}' id="flexCheckDefault">
                              <label class="form-check-label" name="transcript" value='{{transcript.transcript_id }}' for="flexCheckDefault">
                                {{ transcript.transcript_id }}
                              </label>
                            </div>
                          </td>

                          <td style="padding: 10px;">{{transcript.transcript_name}}</td>
                          <td style="padding: 10px;">{{transcript.transcript_version}}</td>
                          <td style="padding: 10px;">{{transcript.transcript_biotype}}</td>
                          <td style="padding: 10px;">{{transcript.refseq_id}}</td>
                        </tr>
                      {% endfor %}
                      {% if transcripts.count > 1 %}
                      <tr>
                        <td style="padding: 10px;text-align: left;">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="transcript" value='ALL' id="flexRadioDefault1" >
                            <label class="form-check-label" name="transcript" value='ALL' for="flexCheckDefault">
                              ALL
                            </label>
                          </div>
                        </td>
                        </tr>
                      {% endif %}
  
                    </tbody>
                  </table>
                </div>

              </div>
            </div>
            

            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Primer Parameters</span>
                <span class="arrow">&#9658;</span>
              </div>
              <div class="field-group-content" style="display: None">
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th>Parameter</th>
                      <th>Min</th>
                      <th>Opt</th>
                      <th>Max</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;">GC content (%)</td>
                      <td style="padding: 10px;">{{ form.primer_min_gc }}</td>
                      <td style="padding: 10px;">{{ form.primer_opt_gc  }}</td>
                      <td style="padding: 10px;">{{ form.primer_max_gc  }}</td>
                    </tr>
                    <tr>
                      <td style="padding: 10px;">Melting temperature (°C)</td>
                      <td style="padding: 10px;">{{ form.primer_min_tm }}</td>
                      <td style="padding: 10px;">{{ form.primer_opt_tm }}</td>
                      <td style="padding: 10px;">{{ form.primer_max_tm }}</td>
                    </tr>
                    <tr>
                      <td style="padding: 10px;">Length (base pairs)</td>
                      <td style="padding: 10px;">{{ form.primer_min_size}}</td>
                      <td style="padding: 10px;">{{ form.primer_opt_size }}</td>
                      <td style="padding: 10px;">{{ form.primer_max_size }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

   

            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">Amplicon Parameters</span>
                <span class="arrow">&#9658;</span>
              </div>
              <div class="field-group-content" style="display: None">
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th>Parameter</th>
                      <th>Min</th>
                      <th>Opt</th>
                      <th>Max</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;">Product size (base pairs)</td>
                      <td style="padding: 10px;">{{ form.primer_product_size_min }}</td>
                      <td style="padding: 10px;">{{ form.primer_product_size_opt }}</td>
                      <td style="padding: 10px;">{{ form.primer_product_size_max  }}</td>
                    </tr>
                    <tr>
                      <td style="padding: 10px;">Melting temperature (°C)</td>
                      <td style="padding: 10px;">{{ form.primer_product_min_tm }}</td>
                      <td style="padding: 10px;">{{ form.primer_product_opt_tm }}</td>
                      <td style="padding: 10px;">{{ form.primer_product_max_tm }}</td>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="field-group">
              <div class="field-group-header">
                <span class="field-group-name">PCR Parameters</span>
                <span class="arrow">&#9658;</span>
              </div>
              <div class="field-group-content" style="display: None">
                <table style="padding: 10px; text-align: center;">
                  <thead>
                    <tr>
                      <th>Parameter</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="padding: 10px;">Salt Divalent (mM)</td>
                      <td style="padding: 10px;">{{ form.primer_salt_divalent }}</td>
                    </tr>
                    <tr>
                      <td style="padding: 10px;">Salt Monovalent (mM)</td>
                      <td style="padding: 10px;">{{ form.primer_salt_monovalent }}</td>
                    </tr>
                    <tr>
                      <td style="padding: 10px;">dNTP Concentration</td>
                      <td style="padding: 10px;">{{ form.primer_dntp_conc }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          

            <button type="submit" class="btn btn-primary btn-block" style="background-color: #355C8E; width: 120%" >Submit Analysis</button>
          </form>
          
          

        </div>
      </div>
    </div>
 
{% endblock body %}

{% block js %}
<script src="{% static 'index/js/form.js'%}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Show loading spinner
    $('#plot-loading').show();
    
    // Make AJAX request to the plotly view
    $.get('{% url "plotly" %}', function(data) {
      // Hide loading spinner
      // Add plot to container
      $('#plotly-container').html(data);
      $('#plot-loading').hide();
      $('#plot-loading').css('display', 'none');
    });
  });

  // Checkboxes
 // Get all the transcript checkboxes
const transcriptCheckboxes = document.querySelectorAll('input[name="transcript"]');

// Get the "ALL" checkbox
const allCheckbox = document.querySelector('input[value="ALL"]');

// Add click event listener to the "ALL" checkbox
allCheckbox.addEventListener('click', () => {
  // If the "ALL" checkbox is checked, deselect all other checkboxes
  if (allCheckbox.checked) {
    transcriptCheckboxes.forEach(checkbox => {
      if (checkbox !== allCheckbox) {
        checkbox.checked = false;
      }
    });
  }
});

// Add click event listeners to the other checkboxes
transcriptCheckboxes.forEach(checkbox => {
  if (checkbox !== allCheckbox) {
    checkbox.addEventListener('click', () => {
      // If any other checkbox is checked, deselect the "ALL" checkbox
      if (checkbox.checked) {
        allCheckbox.checked = false;
      }
    });
  }
});


</script>
{% endblock js %}