

.ex1 {color: #377eb8; display: inline;}
.ex1H {color: #377eb8; background-color: #5aa6d9; display: inline;}

.ex2 {color: #4daf4a; display: inline;}
.ex2H {color: #4daf4a; background-color: #7cc97f; display: inline;}

.ex3 {color: #984ea3; display: inline;}
.ex3H {color: #984ea3; background-color: #bf8dcf; display: inline;}

.ex4 {color: #ff7f00; display: inline;}
.ex4H {color: #ff7f00; background-color: #ffad47; display: inline;}

.ex5 {color: #ffff33; display: inline;}
.ex5H {color: #ffff33; background-color: #ffff66; display: inline;}

.ex6 {color: #a65628; display: inline;}
.ex6H {color: #a65628; background-color: #cc7f3f; display: inline;}

.ex7 {color: #f781bf; display: inline;}
.ex7H {color: #f781bf; background-color: #ffa5d5; display: inline;}

.ex8 {color: #e6ab02; display: inline;}
.ex8H {color: #e6ab02; background-color: #ffcf3f; display: inline;}

.ex9 {color: #a6761d; display: inline;}
.ex9H {color: #a6761d; background-color: #cc993f; display: inline;}

.ex10 {color: #666666; display: inline;}
.ex10H {color: #666666; background-color: #8c8c8c; display: inline;}


.divS { width: 30em; max-width: 100%; margin-bottom: 0in; line-height: 100%}

.two p:nth-child(1) { float:left; }

.two p:nth-child(2) { float:right; }

.header {font-family:"Liberation Sans", sans-serif; size: 14pt; }


.mismatch {background-color: #f34040; display:inline;}
.ex {color: #626161; display: inline;}
.exH {color: #626161; background-color: #aee964; display: inline;}



#cdna-container {
    text-align: justify;
    max-width: 100%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    word-wrap: break-word;
    word-break: break-all;
}

